#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
#components-form-demo-normal-login .login-form-forgot {
float: right;
}
#components-form-demo-normal-login .login-form-button {
width: 100%;
}

.login-dev {
    height: 100%;
}

.loginTitle{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 10;
  font-size: 50px;
  margin-left: 30px;
  margin-top: 50%;
}

.login-form-button {
  margin-top: 40px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #121619;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 40px;
}