.registerDiv{
    margin-top: 0%;
    margin-right:5%;
}

.toLogin{
    margin-left: 30px;
}

.redisterTitle{
    /* text-align: center; */
    height: 100px;
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
   font-weight: 10;
   font-size: 50px;
    margin-left: 20%;
    margin-top: 100px;
}