* {
    box-sizing: border-box;
    font-size: 15px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
}



.BlogTag {
    padding: 10px;
}

.PostButton {
    padding-left: 90%;
}