.postPadding {
    padding: 18px;
    padding-right: 0%;
}

.postImg {
    width: auto;
    height: 400px;
    border-radius: 3px;
    align-self: center;
}

.postTitle {
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

.editBar {
    padding-bottom: 1%;
    display: flex;
}

.authorName {
    margin-left: 1%;
    width:13%;
}

.followButton {
    margin-left: 0%;
    width:8%;
}

.postTime{
    margin-right: 0%;
    width: 80%;
}

.editButton {
    margin-left: 5%;
    color:darkgray;
}

.deleteButton {
    margin-left: 1%;
    color:rgba(255, 0, 0, 0.553);
}

.postContent {
    color:rgb(38, 36, 36);
    font-size: 18px;
    line-height: 25px;
}

.postContent::first-letter {
    font-size: 35px;
    margin-left: 10px;
    font-weight: 400;
}


.editor-content-view {
  border: 3px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 20px;
  overflow-x: auto;
}

.editor-content-view p,
.editor-content-view li {
  white-space: pre-wrap; /* 保留空格 */
}

.editor-content-view blockquote {
  border-left: 8px solid #d0e5f2;
  padding: 10px 10px;
  margin: 10px 0;
  background-color: #f1f1f1;
}

.editor-content-view code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
  border-radius: 3px;
}
.editor-content-view pre>code {
  display: block;
  padding: 10px;
}

.editor-content-view table {
  border-collapse: collapse;
}
.editor-content-view td,
.editor-content-view th {
  border: 1px solid #ccc;
  min-width: 50px;
  height: 20px;
}
.editor-content-view th {
  background-color: #f1f1f1;
}

.editor-content-view ul,
.editor-content-view ol {
  padding-left: 20px;
}

.editor-content-view input[type="checkbox"] {
  margin-right: 5px;
}