.Sidebar {
    flex: 6;
    margin: 10px;
    background-color: whitesmoke;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

.sidebarItem >p {
    padding: 20px;
}

.sidebarItem {
    padding: 10px;
    border-radius: 8px;
    width: 95%;
    margin: 8px;
    border-top: 1px solid grey;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.tagItem:hover {
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.sidebarTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
    flex:auto;
    text-align: center;
}

.sidebarList {
    width:100%;
}

.sidebarListItem {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    flex:auto;
}