.ChatSearch {
    border-bottom: 1px solid rgb(193, 191, 191);
    width: 100%;
    display:table;
}

.searchForm {
    padding:20px;
}

.userChat {
    padding:15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(205, 205, 205);  
    border-bottom: 1px solid rgb(162, 160, 160);
}

.userChat :hover {
    box-shadow: 1px 1px 1px rgba(67, 65, 65, 0.8);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background-color: rgb(83, 82, 80);
}

.img{
    width: 50px;
    height: 50px;
    border-radius:50%;
}

.chatUserInfo{
    padding-left: 10%;
}