@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@500&display=swap');

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: 'Noto Serif HK', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black !important;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn {
  padding: 20px 32px;
  font-size: 1.2rem;
  text-transform: transparent;
  background-color: transparent;
  color:white;
  border:1px solid aliceblue;
  cursor:pointer;
}

.btn:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

.text-link h1{
  color: white !important;
}

.text-link {
  color:white;
}

.title {
  text-align: center;
  position:absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top:55vh;
}

.table {
  position:absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top:20vh;
}

.AddBar {
  position:absolute;
  margin-left:2vh;
  top:10vh;
}

.SearchBar {
  position:absolute;
  margin-left:2vh;
  top:10vh;
}

.title h1 {
  font-size: 6rem;
  color:white !important;
}

.title p {
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color:white !important;
}
