.shop {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.shopTitle {
    align-items: center;
    font-family: 'Lobster';
    color:rgb(94, 94, 94);
    font-size: 68px;
}
